services:
  backend:
    build: ./demo    # ← Deve apontar para pasta demo
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend  # ← Deve apontar para pasta frontend
    ports:
      - "3000:3000"

  
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: portaldoacao
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10